.habit-card {
  border: 1px solid var(--text-color);
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  
}

.toolkit-card {
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.toolkit-card button {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.toolkit-icon{
  width: 15px;
  height: 15px;
}

.toolkit-icon path {
  stroke: var(--text-color) !important;
  fill: var(--text-color) !important;
}

.right-side {
  display: flex;
  flex-direction: column;
  margin-top: 12px;

}

.contribution-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 3.5px;
}

.square {
  width: 14px;
  height: 14px;
  border-radius: 5px;
  background-color: var(--text-color);
  opacity: 0.3;
}

.square.completed {
  opacity: 1;
}


@media screen and (min-width: 1000px) {
  .right-side {
    width: 70%;
    margin-top: 0px;
  }

}